Swift Radio/Swift Radio.xcodeproj/project.xcworkspace/xcshareddata/Swift Radio.xccheckout
Swift Radio/Swift Radio.xcodeproj/xcuserdata/attilatamasi.xcuserdatad/xcschemes/Swift Radio.xcscheme
Swift Radio/Swift Radio.xcodeproj/xcuserdata/attilatamasi.xcuserdatad/xcschemes/xcschememanagement.plist
